<article
    class="group relative flex h-full flex-col overflow-hidden rounded-3xl border border-green-400/20 bg-slate-900/70 shadow-xl backdrop-blur-xl transition duration-500 hover:-translate-y-2 hover:border-green-400/60 hover:shadow-[0_0_40px_rgba(74,222,128,0.25)]">

    <!-- Glow -->
    <div
        class="absolute -right-20 -top-20 h-48 w-48 rounded-full bg-green-400/10 blur-3xl transition group-hover:bg-green-400/20">
    </div>

    <!-- Locations -->
    <!-- Nom -->
    <div class="relative flex flex-1 flex-col p-6">
        <h2 class="line-clamp-1 text-3xl font-black text-white">
            {{ planete().name }}
        </h2>

        <!-- Résidents -->
        <div class="mt-6 space-y-4">
            <h3 class="mt-4 font-bold text-cyan-300">
                Résidents :
            </h3>

            <!--menu ouvrable/fermable-->
            <div class="flex items-center justify-between">
                @if (residents().length > 0) {

                <details>
                    <summary class="mt-1 text-sm uppercase tracking-[0.25em] text-green-300">
                        Total : ({{ residents().length }})
                    </summary>

                    <ul>
                        @for (resident of residents(); track resident.id) {
                        <li>
                            {{ resident.name }}
                        </li>
                        }
                    </ul>
                </details>

                } @else {

                <p>Aucun résident connu</p>

                }
            </div>
        </div>
    </div>
</article>